<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031998950035-jb3kpft9jv0r8lcpvvpu9p1v03ovsfif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031998950035-jb3kpft9jv0r8lcpvvpu9p1v03ovsfif</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Qj6cpEGLPSTiSgnXAvDyKHg0AtdNIc8</string>
	<key>GCM_SENDER_ID</key>
	<string>1031998950035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uncrowdify.Uncrowdify</string>
	<key>PROJECT_ID</key>
	<string>uncrowdify</string>
	<key>STORAGE_BUCKET</key>
	<string>uncrowdify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031998950035:ios:b9661a65e8088aaabf1b66</string>
	<key>DATABASE_URL</key>
	<string>https://uncrowdify.firebaseio.com</string>
</dict>
</plist>